/* ----------------------------------------------- APARIENCIA ----------------------------------------------- */

.corporateBlue {
  color: #0072c0;
}

.selectorNotificacion{
  background: none;
  border: 1px solid #D5D5D5;
  color: #0072c0;
}

/* ------------------------------------------------- MITAD -------------------------------------------------- */


