/* ----------------------------------------------- ESTRUCTURA ----------------------------------------------- */

html, body {
	margin:0px;
	min-height: 100%;
  position: relative;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

.selectorNotificacion{
  width: 500px;
  margin-left: 5px;
}

.classHrNoti{
	width: 512px;
  float: left;
}

audio,
canvas,
video {
  display: inline-block;
}

/* ------------------------------------------------- MITAD -------------------------------------------------- */


.color-product-admon {
  float: left;
  height: 60px;
  padding: 10px;
}

.color-product-admon span {
  padding-top: 20px;
  float: left;
}

.color-product-mercadeo {
  float: left;
  height: 60px;
  padding: 10px;
}

.color-product-mercadeo span {
  padding-top: 20px;
  float: left;
}

.color-product-default {
  float: left;
  height: 60px;
  padding: 10px;
}