/* ----------------------------------------------- ESTRUCTURA ----------------------------------------------- */

html, body {
	margin:0px;
	min-height: 100%;
  position: relative;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

.selectorNotificacion{
  width: 500px;
  margin-left: 5px;
}

.classHrNoti{
	width: 512px;
  float: left;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

body {
  margin: 0;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

legend {
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* ------------------------------------------------- MITAD -------------------------------------------------- */


.color-product-admon {
  float: left;
  height: 60px;
  padding: 10px;
}

.color-product-admon span {
  padding-top: 20px;
  float: left;
}

.color-product-mercadeo {
  float: left;
  height: 60px;
  padding: 10px;
}

.color-product-mercadeo span {
  padding-top: 20px;
  float: left;
}

.color-product-default {
  float: left;
  height: 60px;
  padding: 10px;
}