/* ----------------------------------------------- APARIENCIA ----------------------------------------------- */

.corporateBlue {
  color: #0072c0;
}

.selectorNotificacion{
  background: none;
  border: 1px solid #D5D5D5;
  color: #0072c0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

a img {
  border: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

dfn,
em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

ins {
  text-decoration: underline;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
}

legend {
  border: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

/* ------------------------------------------------- MITAD -------------------------------------------------- */


.color-product-admon {
  background: #50c592;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -ms-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}

.color-product-admon span {
  color: white;
  font-size: 24px;
}

.color-product-mercadeo {
  background: #994596;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -ms-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}

.color-product-mercadeo span {
  color: white;
  font-size: 24px;
}

.color-product-default {
  background: #2b569f;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -ms-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}